#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: rgb(214, 106, 106);
}
.btn-primary{
  background-color: rgb(54, 75, 193);
}
.btn-primary:hover{
  background-color: rgb(26, 49, 177);
}

.read-the-docs {
  color: #888;
}

.app {
  display: flex;
  justify-content: space-around;
  flex-wrap:nowrap;
  flex-direction: row;
  align-items: center;
  height: 65vh;
  background-color: #642121;
}

.team {
  width: 40%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter h2 {
  margin-bottom: 20px;
}

.counter button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.foter-title{
  text-align: right;
  text-shadow: #4e1b1b;
  font-family: 'Lucida Sans';
}
.foter-title:hover{
 color: blue;
}
.foter-title::after{
  color: rgb(216, 33, 70);
 }